body{
    width: 1300px; 
    border: 2px solid black; 
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 10px; 
    font-family: sans-serif; 
}

header{
    text-align: center; 
}

h1{
    color: #070669; 
    font-family: cursive; 
}

nav{
    background-color: #bed0f8; 
    padding: 20px 0; 
    text-align: center; 
}

nav a{
    font-size: 20px;
    font-weight: bold; 
    color:#070669;
    text-decoration: none; 
    padding: 0 30px; 
}

header img{
    width: 25%; 
    padding: 0;
    display: inline-block;
   
}

.asideLeft{
    width: 200px; 
    float: left; 
    padding-right: 10px;
    padding-left: 10px; 
    border: #070669 2px solid;
    border-radius: 10px;
    box-shadow: inset 0 0 1em rgb(7, 17, 89), 0 0 1em rgb(217, 218, 226);
    background-color: #bed0f8;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration-line: none;
}

.asideLeft h3{
    color: #070669; 
    text-align: center;
    font-family: sans-serif; 
    font-size: 24px; 
    padding: 10px 0; 
}

.asideLeft a{
    text-decoration-line: none;
    color:#070669;
    font-style: italic;
}


footer{
    clear: both; 
    text-align: center; 
    font-weight: bold; 
    background-color: #bed0f8; 
    padding: 20px 0; 
    font-size: 20px; 
    color: #070669; 
}

/* MULTILEVEL NAVIGATION MENU*/
nav ul{ 
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav>ul>li{ 
    display: inline-block; 
    position: relative; 
}

nav ul li ul { 
	width: 200px;
	position: absolute; 
	z-index: 999; 
	text-align: left;
	background-color: #6c57e7;
    box-shadow: 0 0 5px #070669;
}

nav ul li ul li a{ 
    padding: 10px;
    display: block; 
}

nav ul li ul li:hover a:hover{ 
    color: #0a0f5f;
    background-color: #bed0f8;
}

nav ul li ul {
    display: none; 
}

nav ul li:hover ul{
    display: block; 
}